data/
root_data/*.root
merged_data/
analysis/GEBSort/GEBMerge
analysis/GEBSort/GEBSort_nogeb
*.o
*.root
*~
*/data
*.d
*.pcm
*.so
.DS_Store

analysis/Simulation/reaction.dat
Cleopatra
ExtractXSec
FindThetaCM
InFileCreator
PlotTGraphTObjArray
