data
root_data
merged_data
analysis/GEBSort/GEBMerge
analysis/GEBSort/GEBSort_nogeb


core.*
*.o
*.root
*~
*/data
*.d
*.pcm
*.so
.DS_Store

analysis/Simulation/reaction.dat
analysis/Cleopatra/Cleopatra
analysis/Cleopatra/ExtractXSec
analysis/Cleopatra/FindThetaCM
analysis/Cleopatra/InFileCreator
analysis/Cleopatra/PlotTGraphTObjArray
analysis/Cleopatra/Transfer
analysis/Woods-Saxon/WSCal
analysis/Woods-Saxon/WSFit
analysis/Woods-Saxon/WSFit2
