
data
root_data
merged_data
analysis/GEBSort/GEBMerge
analysis/GEBSort/EventBuilder
analysis/GEBSort/EventBuilder_trace
analysis/working/slurm.sh
*.Ex.txt
*.Xsec.txt
*.in
*.out
core.*
*.o
*.root
*~
*/data
*.d
*.pcm
*.so
*.png
*.pdf
.DS_Store
tempDB.txt
elog.txt
elog_context.txt
elogEndRun.txt
grafanaElog.jpg
run_Summary.dat
MakeDataLinks
reaction.dat

*_C_ACLiC*

analysis/Simulation/reaction.dat
analysis/Cleopatra/Cleopatra
analysis/Cleopatra/ExtractXSec
analysis/Cleopatra/ExtractXSecFromText
analysis/Cleopatra/FindThetaCM
analysis/Cleopatra/InFileCreator
analysis/Cleopatra/PlotTGraphTObjArray
analysis/Cleopatra/Transfer
analysis/Cleopatra/Isotope
analysis/Cleopatra/IsotopeShort
analysis/Cleopatra/PlotSimulation
analysis/Woods-Saxon/WSCal
analysis/Woods-Saxon/WSFit
analysis/Woods-Saxon/WSCompare
analysis/Woods-Saxon/WSSearch
analysis/Woods-Saxon/WSSearch2
analysis/Woods-Saxon/WSMakeTree
analysis/Woods-Saxon/WSRange
analysis/Woods-Saxon/range.txt
analysis/Woods-Saxon/test

*.WF.dat

AutoProcessLog.txt
daq/save/trigger.txt

DB_*.txt

slurm-*.out

/analysis/EventBuilder/run*
/analysis/EventBuilder/h088*
/analysis/EventBuilder/EventBuilder*
/analysis/EventBuilder/merged*
/analysis/EventBuilder/fitting/cuda_fit
/analysis/EventBuilder/fitting/testFit