#!/bin/sh

if [ $# -ne 1 ] 
  then
   echo "Specify only the run number to sort"
  exit 1
fi

RUN=$1

dir=/home/choffman/Research/rcnp/e436

#cd $dir/GEBSort_working
GEBDIR=$dir/GEBSort_working
MERGDIR=$dir/data/Merged
ROOTDIR=$dir/working
CHATDIR=$dir/working

echo "GEBSort started sorting run $RUN at `date`"
$GEBDIR/GEBSort_nogeb -input disk $MERGDIR/GEBMerged_run$RUN.gtd_000 -rootfile $ROOTDIR/run$RUN.root RECREATE -chat $CHATDIR/GEBSort.chat 
echo "GEBSort DONE at `date`"

#exit

